.container {
  position: relative;
  top: -25px;
  left: -25px;}


.left {
  opacity: 0.8;
margin-left: 50px;
}
.leftt {
  margin-left: 50px;

}
.lefttt {
margin-left: -200px;
}
.righttt{
margin-left: 750px;

}
.hi {  position: absolute;

}

.right {
float: right;
top: -100px;

}
.rightt {
float: right;
top: -100px;
opacity: 0.8;


}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  position: relative;
}
.text-block {
  position: absolute;
  top: 20px;

}
.text-blockk {
  position: absolute;
  top: 20px;
left: 550px;

}
.text-blockkk {
  position: absolute;
  top: 10px;
  left: : 1000px;

}

body {
  background-color: white;
  background-color:#FFFFFF;

}
p2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  font-family: "EBGaramond-Italic";
 letter-spacing: 0.05em;
 font-size: 24px;

}

h1{
  font-family: "EBGaramond-Italic";

  src: '/fonts/DSZirbal-Bold.otf';
  letter-spacing: 0.05em;
  font-weight: lighter;
  font-size: 42px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
justify-content: center;


}
p{

  font-family: "ITCGaramondStd-LtNarrow";
  src: '/fonts/ITCGaramondStd-LtNarrow.otf';
  font-size: 18px;
  letter-spacing: -0.00em;
  font-weight: lighter;
text-align: center;}
a{

  font-family: "ITCGaramondStd-LtNarrow";
  src: '/fonts/ITCGaramondStd-LtNarrow.otf';
  font-size: 18px;
  letter-spacing: -0.00em;
  font-weight: lighter;
text-align: center;
color: black
}

p1{

  font-family: "ITCGaramondStd-LtNarrow";
  src: '/fonts/ITCGaramondStd-LtNarrow.otf';
  font-size: 30px;
  letter-spacing: -0.00em;
  font-weight: lighter;
text-align: center;}

.centerr {
  position: absolute;
  top: 20px;

}
