

.left {


}
.right {
float: right;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
justify-content: center;
}

body {
  background-color: white;
  background-color:#FFFFFF;

}
p1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
  font-family: "EBGaramond-Italic";
 letter-spacing: 0.05em;
 font-size: 24px;

}

h1{
  font-family: "EBGaramond-Italic";

  src: '/fonts/DSZirbal-Bold.otf';
  letter-spacing: 0.05em;
  font-weight: lighter;
  font-size: 42px;



}
p{

  font-family: "ITCGaramondStd-LtNarrow";
  src: '/fonts/ITCGaramondStd-LtNarrow.otf';
  font-size: 18px;
  letter-spacing: -0.00em;
  font-weight: lighter;


}
